li{
    list-style: none;
}
/*//////NAV/////*/

.navbar {
    border-bottom: 1px solid rgb(238, 238, 238);
}

#logo {
    width: 100px;
}

#boardID{
    margin-top: 20px;
    font-size: 15px;
}

.btn,
.newLink {
    background-color: #16fd99 !important;
}

.btn:hover,
.newLink:hover {
    background-color: rgb(47, 131, 47) !important;
}

.modal-body input {
    width: 100%;
}

.linkitButton {
    background: green;
}

/*//////BODY////*/

body {
    background: url("../assets/images/corkbg.jpg");
    font-family: "Lato", sans-serif;
    /* background: rgb(235, 234, 234); */
}

.main {
    /* margin-left: 160px; */
    /* Same as the width of the sidenav */
    font-size: 15px;
    /* Increased text to enable scrolling */
    margin-top: 80px;
}

#boardName{
    text-align: center;
}

/*///////CARDS/////*/

.card {
    margin: 0px 20px 10px -20px;
    background: rgb(255, 250, 232);
}

.card-body {
    margin-top: -40px;
    height: 260px;
}

#pin {
    top: 1px;
    position: absolute;
    display: inline-block;
    width: 50px;
    text-align: center;
}

h5 {
    position: absolute;
    top: 25px;
}

.card-header {
    height: 50px;
}

#cardEdit {
    position: absolute;
    right: 0;
    color: #16fd99;
    font-size: 15px;
    padding: 0px 80px 20px 0px;
}

/* #cardEdit:hover {
      background: rgb(33, 134, 33);
  } */

#cardDelete {
    position: absolute;
    right: 0;
    color: red;
    font-size: 15px;
    padding: 0px 40px 20px 0px;
}

.tags {
    text-align: center;
    margin-top: -20px;
}


/*///////MEDIA QUERIES/////*/
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        h1,
        h2,
        h3,
        h4 {
            font-size: 120%;
        }
        h5{
            font-size: 100%;
        }
        .main {
            font-size: 15px;
            margin-top: 80px;
        }
        .card {
            margin-bottom: 2px;
        }
        #pin {
            width: 8%;
        }
        .cardImg {
            text-align: center;
            width: 100%;

    }
    .card-text {
        display: none;
    }
}

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        h1,
        h2,
        h3,
        h4 {
            font-size: 120%;
        }
        h5{
            font-size: 100%;
        }
        .main {
            font-size: 15px;
            margin-top: 80px;
        }
        .card {
            margin-bottom: 2px;
            height: 155px;
        }
        #pin {
            width: 5%;
        }
        .card-text {
            display: none;
        }
        .imagewrap{
            position: absolute;
            right: 0;
        }
        .cardImg {
            margin-top: -50px;
            float: right;
            text-align: center;
            width: 80%;
        }
        .timestamp {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 200px;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        h1,
        h2,
        h3,
        h4 {
            font-size: 120%;
        }
        h5{
            font-size: 100%;
        }
        .main {
            font-size: 15px;
            margin-top: 80px;
        }
        .card {
            margin-bottom: 2px;
            height: 155px;
        }
        #pin {
            width: 5%;
        }
        .card-text {
            margin-top: -5px;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 400px;
        }
        .imagewrap{
            position: absolute;
            right: 0;
        }
        .cardImg {
            margin-top: -50px;
            float: right;
            text-align: center;
            width: 80%;
        }
        .timestamp {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 200px;
        }
        
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        h1,
        h2,
        h3,
        h4 {
            font-size: 120%;
        }
        h5{
            font-size: 100%;
        }
        .main {
            font-size: 15px;
            margin-top: 80px;
        }
        .card {
            margin-bottom: 2px;
            width: 100%;
            height: 100%;
        }
        #pin {
            width: 4%;
        }
        .card-text {
            margin-top: -5px;
            display: block;
        }
        .imagewrap{
            position: absolute;
            right: 0;
        }
        .cardImg {
            margin-top: -50px;
            float: right;
            text-align: center;
            width: 85%;
            /* height: 10vh; */
            margin-left: 200px;
        }
        .timestamp {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 200px;
        }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        h1,
        h2,
        h3,
        h4 {
            font-size: 120%;
        }
        h5{
            font-size: 100%;
        }
        .main {
            font-size: 15px;
            margin-top: 80px;
        }
        .card {
            margin-bottom: 2px;
        }
        #pin {
            width: 4%;
        }
        .card-text {
            margin-top: -5px;
            display: block;
        }
        .imagewrap{
            position: absolute;
            right: 0;
        }
        .cardImg {
            margin-top: -50px;
            float: right;
            text-align: center;
            width: 85%;
            /* height: 10vh; */
            margin-left: 200px;
        }
        .timestamp {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 200px;
        }
    }